@import '@/style/mr-framework.scss';
@import "~@fontsource/akaya-telivigala/index.css";
@import "~@fontsource/akaya-telivigala/400.css";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // background-color: #cccccc;
  font-family: "Akaya Telivigala";
}

